// Tipografia
$fuente_principal: "Roboto", sans-serif;

// Colores
$azul:#1F345A;
$azulTitle:#1B1F3B;
$amarillo: #CCDC31;
$negro: #000000;
$blanco:aliceblue;
$gris: #3A3A3A;

// Tamaños de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;